<div growl></div>
<div ng-include src="'./core/view/header.html'"></div>
<!--<div id="metro-container" class="-container">-->
<!--<div class="row">-->
<!--<div id="hub" class="metro">-->
<div class="metro panorama">
    <div class="panorama-sections">
        <div class="panorama-section">
            <h2>Catalog</h2>
            <div class="tile-column-span-2">
                <a class="tile wide imagetext wideimage bg-color-green" href="./index.html#!/order">
                    <img src="./assets/images/#" alt=""/>
                    <div class="textover-wrapper transparent">
                        <div class="text2">Product</div>
                    </div>
                </a>
            </div>
        </div>



        <div class="panorama-section tile-span-4">
            <h2>Product Log</h2>
            <a class="tile app bg-color-blue" href="./index.html#!/log">
                <div class="image-wrapper">
                    <span class="icon  icon-list-2"></span>
                </div>
                <div class="app-label">List </div>
            </a>
            <a class="tile wide imagetext bg-color-purple" href="#">
                <div class="image-wrapper">
                    <span class="icon icon-search"></span>
                </div>
                <div class="column-text-big">
                    <div class="text4">Recent Product</div>
                    <div class="text-header">{{ date[0] }}</div>
                </div>
            </a>

        </div>
        <div class="panorama-section">
            <h2>Product</h2>
            <a class="tile wide imagetext bg-color-blue" href="./index.html#!/product">
                <div class="image-wrapper">
                    <span class="icon  icon-truck"></span>
                </div>
                <div class="column-text">
                    <div class="text-header">Add new </div>
                    <div class="text-header">Product</div>
                </div>
            </a>

        </div>
        <div class="panorama-section">
            <h2>Pricing</h2>
            <div>
                <a class="tile wide imagetext bg-color-orange" href="#">
                    <div class="image-wrapper">
                        <span class="icon   icon-bullhorn"></span>
                    </div>
                    <div class="column-text-big">
                        <div class="text-header">Product Pricing</div>

                        <div class="text">{{ price['price'] | currency:'Rp '}}</div>
                    </div>
                </a>
            </div>
            <a data-ng-if="level[0]['level'] == 'admin'"  class="tile wide imagetext bg-color-greenDark" href="#">
                <div class="image-wrapper">
                    <span class="icon  icon-pencil"></span>
                </div>
                <div class="column-text-big">
                    <div class="text-header">Pricing Edit</div>
                    <div class="text-header"><input type="text" data-ng-model="price['price']"></div>
                    <div class="text-header"><button data-ng-click="changeprice()" class="btn-danger"><img data-ng-show="loading" src="./assets/images/ajax-loader.gif"> <p data-ng-hide="loading">Save</p></button></div>
                </div>
            </a>

        </div>

        <div class="panorama-section tile-span-4">

            <h2>User</h2>

            <a class="tile wide imagetext bg-color-blue" href="./index.html#!/user">
                <div class="image-wrapper">
                    <span class="icon icon-user-6"></span>
                </div>
                <div class="column-text">
                    <div class="text-header">{{ level[0]['name'] }}</div>
                    <div class="text">Product {{ level[0]['productname'] }}</div>
                    <div class="text">{{ level[0]['storeid'] }}</div>
                </div>
            </a>

            <a class="tile wide imagetext bg-color-blueDark" href="#">
                <div class="image-wrapper">
                    <span class="icon icon-pencil"></span>
                </div>
                <div class="column-text">
                    <div class="text">Change Password</div>
                    <div class="text-header"><input type="password" data-ng-model="password"  placeholder="Password"> </div>
                    <div class="text-header"><input type="password" data-ng-model="password repeat"  placeholder="repeat Password"> </div>
                    <div class="text-header"><button class="btn-danger" data-ng-click="changePassword()"><img data-ng-show="loadingp" src="./assets/images/ajax-loader.gif"> <p data-ng-hide="loadingp">Save</p></button></div>
                </div>
            </a>
            <a data-ng-if="level[0]['level'] == 'admin'"  class="tile app bg-color-orange" href="./index.html#!/user">
                <div class="image-wrapper">
                    <span class="icon  icon-list-2"></span>
                </div>
                <div class="app-label">List </div>
            </a>

        </div>

    </div>
</div>
<a id="panorama-scroll-prev" href="#"></a>
<a id="panorama-scroll-next" href="#"></a>
<div id="panorama-scroll-prev-bkg"></div>
<div id="panorama-scroll-next-bkg"></div>
<!--</div>-->
<!--</div>-->
<!--</div>-->

<script type="text/javascript">

    $('.panorama').panorama({
        //nicescroll: false,
        showscrollbuttons: true,
        keyboard: true,
        parallax: true
    });

    //      $(".panorama").perfectScrollbar();

    $('#pivot').pivot();

</script>