<html>
<body>
<!-- input type="text" ng-model="data.name" -->
<button type="submit"  class="btn btn-success">Create New Store</button>
<table class="table table-condensed ">
    <thead>
        <tr>
            <th>id</th>
            <th>name</th>
        </tr>
    </thead>
    <tbody>
        <tr  class="repeat-item">
            <td>store </td>
            <td>store </td>
            <td>
                <button   class="btn btn-info" type="button">Delete</button>
            </td>
            <td>
                <button   class="btn btn-info" type="button">update</button>
            </td>
        </tr>
    </tbody>
</table>

<div class="modal {{modaloption}}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"  data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
          <input type="text"  />
          <input type="hidden" class="span3"   />
      </div>
      <div class="modal-footer">
        <button type="button"  class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button"  class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
</html>
</body>




